
isim/
top_html/
_ngo/
_xmsgs/
xst/
xlnx_auto_0_xdb/
.DS_Store
*.html
*.xml
*.cmd_log
*.gyd
*.jed
*.mfd
*.nga
*.ngc
*.exe
*.bld
*.lso
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.vm6
*.xst
*.csv
*.xrpt
tmperr.err
fuse.log
isim.log
webtalk_pn.xml
isim.log
laser310_64k.svf
_impact.log
_impact.cmd
_impact.cmd
fuse.xmsgs
fuseRelaunch.cmd
isim.cmd
iseconfig/top.xreport

