
isim/
top_html/
_ngo/
_xmsgs/
xst/
.DS_Store
*.html
*.xml
*.cmd_log
*.gyd
*.jed
*.mfd
*.nga
*.ngc
tmperr.err
top.bld
top.lso
top.ngd
top.ngr
top.pad
top.pnx
top.prj
top.rpt
top.stx
top.syr
top.vm6
top.xst
top_ngdbuild.xrpt
top_pad.csv
top_xst.xrpt
fuse.log
isim.log
webtalk_pn.xml
isim.log
laser310_64k.svf
_impact.log
_impact.cmd
_impact.cmd
fuse.xmsgs
fuseRelaunch.cmd
isim.cmd
